openapi: 3.1.0
info:
  title: Workflowy Nodes Targets API
  description: Official Workflowy REST API for reading and writing Workflowy data programmatically. A node is the fundamental unit of content in Workflowy - each node is a single bullet point that can contain text, have child nodes, and be organized hierarchically. Targets provide quick access to specific nodes, including system targets (like "inbox") and user-defined shortcuts. This OpenAPI document was generated by API Evangelist from the official API reference at https://workflowy.com/api-reference/ - Workflowy does not publish its own machine-readable spec.
  version: v1
  contact:
    name: Workflowy
    url: https://workflowy.com/api-reference/
servers:
- url: https://workflowy.com/api/v1
  description: Production
security:
- apiKey: []
tags:
- name: Targets
  description: System targets and user-defined shortcuts that point at nodes.
paths:
  /targets:
    get:
      operationId: listTargets
      tags:
      - Targets
      summary: List targets
      description: Returns all available targets, including user-defined shortcuts (like "home") and system targets (like "inbox"). System targets are always returned, even if the target node hasn't been created yet.
      responses:
        '200':
          description: All targets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  targets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Target'
              example:
                targets:
                - key: home
                  type: shortcut
                  name: My Home Page
                - key: inbox
                  type: system
                  name: Inbox
components:
  schemas:
    Target:
      type: object
      description: A target provides quick access to a specific node.
      properties:
        key:
          type: string
          description: The unique identifier for this target (e.g. "home", "inbox", "today").
        type:
          type: string
          enum:
          - shortcut
          - system
          description: '"shortcut" - user-defined; "system" - system-managed locations like inbox, always returned even if the target node has not been created yet.'
        name:
          type:
          - string
          - 'null'
          description: The name of the node this target points to. `null` only for system targets when the target node hasn't been created yet.
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      description: Workflowy API key sent as a bearer token in the Authorization header. Generate a key at https://workflowy.com/api-key/.
x-generated: '2026-07-21'
x-method: generated
x-source: https://workflowy.com/api-reference/ (verbatim markdown at https://workflowy.com/api-reference.md)
